<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../../css/normalize.css">
        <link rel="stylesheet" href="../../css/skeleton.css">
        <link rel="stylesheet" href="../../css/style.css">
        <link rel="stylesheet" href="../../css/codemirror.css">
    </head>
    <body>
        <div id="navbar"></div>
        <script src="../../shared/navigation.js"></script>        
        <div class="editor-container">
            <textarea id="editor_text_area"></textarea> 
        </div>
        <script src="../../../node_modules/console-log-div/console-log-div.js"></script>
        <div class="editor-controls">
            <button class="button-primary control-button" id="run_button">Run Code</button>
            <button class="button-primary control-button" id="import_button">Import DS/Alg</button>
            <button class="button-primary control-button" id="export_button">Export Code</button>
        </div>
    </body>
    <script src="./playground.js"></script>
</html>