<!DOCTYPE html>
<html>
    <head>
        <script src="../../shared/loading.js"></script>
        <link rel="stylesheet" href="../../css/normalize.css">
        <link rel="stylesheet" href="../../css/skeleton.css">
        <link rel="stylesheet" href="../../css/style.css">
        <link rel="stylesheet" href="../../css/codemirror.css">
    </head>
    <body>
        <!-- Nav bar -->
        <nav id="navbar">
            <script src="../../shared/navigation.js"></script>
        </nav>
        <!-- Loading -->
        <loading id="loading"></loading>
        <!-- Page -->
        <page class="playground" id="page">
            <div class="editor-container">
                <textarea id="editor_text_area"></textarea> 
            </div>
            <div class="editor-controls">
                <button class="button-primary control-button" id="run_button">Run Code</button>
                <button class="button-primary control-button" id="import_button">Import DS/Alg</button>
                <button class="button-primary control-button" id="export_button">Export Code</button>
            </div>
            <fieldset id="console-log-div" style="height: 20%; width: 100%"></fieldset>
            <script src="../../../node_modules/console-log-div/console-log-div.js"></script>
        </page>
    </body>
    <script src="./playground.js"></script>
</html>