<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Algorithms & Data Structures Visualiser</title>
        <link rel="stylesheet" href="../../css/normalize.css">
        <link rel="stylesheet" href="../../css/skeleton.css">
        <link rel="stylesheet" href="../../css/style.css">
    </head>
    <body>
        <div class="main">
            <div class="main-container">
                <div id='title_canvas'></div>
                <button class="button-primary main-button" id="visualiser_button">Visualiser</button>
                <button class="button-primary main-button" id="playground_button">Playground</button>
                <button class="button-primary main-button" id="about_button">About</button>
            </div>
        </div>
    </body>
    <!--keep it at the bottom to prevent slowing down page loading of visuals-->
    <script src="title.js"></script>
    <script src="home.js"></script>
</html>