<!DOCTYPE html>
<html>

<head>
    <script src="../shared/loading.js"></script>
    <link rel="stylesheet" href="../../css/normalize.css">
    <link rel="stylesheet" href="../../css/skeleton.css">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/codemirror.css">
</head>

<body>
    <!-- Nav bar -->
    <nav id="navbar">
        <script src="../shared/navigation.js"></script>
    </nav>
    <!-- Loading -->
    <loading id="loading"></loading>
    <!-- Page -->
    <page id="page">
         <!-- Text Editor -->
         <div class="logs-editor-container" style="height: 95%;">
            <textarea id="logs-editor_text_area"></textarea>
            <button class="button-primary main-button" id="export_logs_button" style="height:5%; width:49.7%; border-radius: 0%; margin-bottom: 0%;">Export Logs</button>
            <button class="button-primary main-button" id="clear_logs_button" style="height:5%; width:50%; border-radius: 0%; margin-bottom: 0%;">Clear Logs</button>
        </div>
    </page>
</body>

<script src="./logs.js"></script>

</html>