<!DOCTYPE html>
<html>

<head>
    <script src="../shared/loading.js"></script>
    <link rel="stylesheet" href="../../css/normalize.css">
    <link rel="stylesheet" href="../../css/skeleton.css">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/codemirror.css">
</head>

<body>
    <!-- Nav bar -->
    <nav id="navbar">
        <script src="../shared/navigation.js"></script>
    </nav>
    <!-- Loading -->
    <loading id="loading"></loading>
    <!-- Page -->
    <page id="page">
         <!-- Text Editor -->
         <div class="logs-editor-container">
            <textarea id="logs-editor_text_area"></textarea>
            <div class="logs-editor-controls">
                <button class="button-primary logs-control-button" id="export_logs_button">Export Logs</button>
                <button class="button-primary logs-control-button" id="clear_logs_button">Clear Logs</button>
            </div>
        </div>
    </page>
</body>

<script src="./logs.js"></script>

</html>