<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../../css/normalize.css">
        <link rel="stylesheet" href="../../css/skeleton.css">
        <link rel="stylesheet" href="../../css/style.css">
    </head>
    <body>
        <div id="navbar"></div>
        <script src="../../shared/navigation.js"></script>
        <h1 id="about_title">App Information</h1>
        <h2 id="about_subtitle">There will be something here someday...</h2>
        <div class="text-container"> 
            <p>This will be information about the app.</p>
            <p>Right now i have no interest in this page.</p>
            <p>Good ridance!</p>
            
        </div>
    </body>
</html>